<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Blogger Index", bloggers_path %></br>
  	<%= link_to "Destinations Index", destinations_path %></br>
    <%= link_to "Posts Index", posts_path %>
    <%= yield %>
  </body>
</html>
